.bd-anchor-title {
  padding-top: 1.5rem;
  position: relative;
}

// this causes text right above the anchor tag to 
// be not selectable
.bd-anchor-target {
  padding-top: 80px;
  margin-top: -80px;
}

@media screen and (max-width: 1215px) {
  .bd-anchor-title {
    padding-left: 2rem;
  }
}

.bd-anchor-link {
  position: absolute;
  right: calc(100% + 1rem);
}

@media screen and (max-width: 1215px) {
  .bd-anchor-link {
    left: 0;
    right: auto;
  }
}