.command-content {
  border-left: 2px solid #383b53;
  margin-top: 4px;
  padding-left: 10px;
}

.command-item:hover > .command-content {
  border-left: 2px solid #49baff;
  -webkit-transition: border-left .1s ease-in-out;
  transition: border-left .1s ease-in-out;
}

.command-name {
  color: #ffffff;
}

.command-item:hover > .command-name {
  color: #49baff;
  -webkit-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
}

.menu-is-active {
  color: #49baff !important;
}

.bd-anchor-title {
  padding-top: 1.5rem;
  position: relative;
}

.bd-anchor-target {
  padding-top: 80px;
  margin-top: -80px;
}

@media screen and (max-width: 1215px) {
  .bd-anchor-title {
    padding-left: 2rem;
  }
}

.bd-anchor-link {
  position: absolute;
  right: calc(100% + 1rem);
}

@media screen and (max-width: 1215px) {
  .bd-anchor-link {
    left: 0;
    right: auto;
  }
}

.leaderboard-row th, td {
  vertical-align: middle !important;
}

.leaderboard-row th img {
  vertical-align: middle;
}

.xp_progress {
  display: inline-block;
  background-color: #383b53;
  margin-bottom: 0 !important;
}
